*{
    padding:0;
    margin:0;
}
.wrapper-width{
    width:1170px;
    margin:0 auto;
}
.font-Arial{
    font-family: Arial;
}
a{
    text-decoration: none;
}

.clear-fix{
    contain: "";
    clear: both;
    display: table;
}

.footer-container{
    color:#f6fbfa;
}
.body-container{
    width: 100%;
}