*{
    margin:0;
    padding:0;
 
}
body{
    background-image: url("images/desert.png");
    background-size: cover;
    background-repeat:no-repeat;
}
.game-container{
    width:50em;
    margin: 0 auto;
    content: "";
    clear: both;
    display: table;
}
.game-wrapper{
    width: 80%;
    float: left;
    overflow: hidden;

}
.road{
    background-image: url("images/lane.png");
    background-repeat: repeat-y;

    background-size: cover;
    height:700px;
    position: relative;
    

}
.car{
    background-image: url('images/run1.png');
     background-repeat:no-repeat;
    background-size: contain ;
    background-position: center;
    position: absolute;
}

.obstacle{
    background-repeat:no-repeat;
    background-size: contain ;
    position: absolute;
    background-position: center;

}


.score-board {
    width: 20%;
    float:right;
   background-color: rgba(216, 177, 48,0.5);
    padding:100px 0;
    color: rgb(248, 220, 188);
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}
.score-board span{
    display: block;
}
.score-board span #high-score{
    color: rgb(6, 250, 136);
}
.score-board span #your-score{
    color: rgb(0, 255, 234);
    
}