*{
    margin:0px;
    padding: 0px;
    text-align: center;
}
.carousel-container{
    /* width: 900px; */
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding-bottom:50px;
    margin-top:50px;
    
}


.carousel-wrapper img{
    float: left;
}

.inactive{
    background-color: #a06666;
}
.active{
    background-color: red;
}

ul.image-position{
    list-style: none;
    position:absolute;
    top: 480px;
    transform: translateX(100%);
}
ul.image-position li{
    width: 30px;
    height: 7px;
    margin-right: 5px;
    cursor:pointer;
    float: left;
}

.btn{
    position: absolute;
    top:220px;
    z-index: 20;
    width:50px;
    height:50px;
    cursor: pointer;
}
.btn.previous{
    left: 0px;
}
.btn.next{
    left: 858px;
}
i.fa{
    font-size:48px;
    color:red;
}   