.main{
    background-color: #fafafa;
    /* background-image: url("../images/whole\ background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top; */
    min-width: fit-content;

}
/* -----------header------------layout---------------- */
.bubble-bg{
     background-image: url("../images/header-circle-with-white-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
.menu{
    background-image: url("../images/1px-border-top.png");
    background-position: top center;
    background-repeat: repeat-x;

}
header.header{
    background-color: rgba(255, 255, 255, 0.94);
    box-shadow: 0 0 5px 5px rgba(182,182,182,0.24) ;
}
.icon-and-hotline{
    padding-top:13px;
    padding-bottom: 13px;
    width: 100%;
}
.icon-wrapper{
    float: left;
}

.icon-wrapper ul{
    list-style: none;
}
.icon-wrapper ul li{
    float: left;
    padding-right: 20px;
}
.icon-wrapper li a{
    text-decoration: none;
    display: block;
}
.hotline-wrapper{
    float: right;
}


/* ---------------explore-----------layout----------------- */

div.explore{
    text-align: center;
    padding-bottom: 180px;
    width: 100%;



}
div.explore .title{
    width: 77.4561%;
    margin:0 auto;

}
p.explore-text{

    width: 58.7719%;
    margin:0 auto;

}

/* --------------customer---------layout------------- */
div.customers{
    background-image: url("../images/1px-border-top.png");
    background-position: top center;
    background-repeat: repeat-x;
    padding-top: 43px;
    padding-bottom: 31px;
    width: 100%;
    background-color: white;
}
.customers .text{
    width:31.2280%;

}
/* ---------------services--------layout--------- */
div.services{
    background-image: url("../images/1px-border-top.png"),url("../images/laptop.png");
    background-position: top center,-600px center;
    background-repeat: repeat-x,no-repeat;
    padding-top: 105px;
    padding-bottom: 160px;
    width: 100%;
    background-color: white;
}
.content-position{
    width: 64.2705%;
    float: right;
   padding-top: 60px;

}

div.services .info-text  {
    width: 86.6667%;
}
.services-fields{
    margin-top: 115px;

}
.service-container{
    float: left;
    width: 46.6667%;
    margin-bottom: 70px;
}
.service-container .service-info{
    float: left;
    width: 71.9402%;
    padding-left: 30px;
}
/* ---------------------build-------layout------------------- */
div.build-things{
    background-image: url("../images/lower-slanted-image-withman.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: white;
}
div.build-position{
    width: 61.1403%;
    padding-left: 197px;
    padding-top:270px ;
}
.counter-wrapper{
    margin-top:112px ;
    padding-bottom: 155px;
}

.count-division{
    width: 39.4548%;
    float: left;
    margin-bottom:77px;
}
/* ------------------contact---us-----layout---------------- */
div.contact-us{
    background-image: url("../images/lower-circle-imgs-1.png");
    background-repeat: no-repeat;
    background-position: top center;   
    background-color: #fafafa;
}

.contact-us-wrapper p{
    width:46.4912%;
    margin: 0 auto;

}
.contact-us-form{
    width: 54.3859%;
    margin: 0 auto;
    padding:77px 65px;

    box-shadow: 0 0 28px 0 rgba(183,183,183,0.45);
    background-color: #fff;
    border-radius:10px ;
    margin-bottom: 170px;
}

/* ------------------footer-------layout--------------------- */
footer.footer{
    background-image: url("../images/1px-border-bottom.png");
    background-position: top center;
    background-repeat: repeat-x;
    background-color: #fafafa;
    padding:70px 0px 90px;
    width: 100%;
}
.footer-cols{
    width:33.3333%;
    float: left;
}
.categories-community .categories,.community{
    width:50%;
    float: left;
}