*{
    margin:0px;
    padding:0px;
}

.wrapper-width{
    min-width:71.25em;
    margin:0 auto;
    
}
.clear-fix{
    content: "";
    clear: both;
    display: table;

}
a{
    text-decoration: none;
}

