*{
    margin:0px;
    padding:0px;
}

.wrapper-width{
    width:71.25em;
    min-width:fit-content;
    margin:0 auto;
    
}

.clear-fix{
    content: "";
    clear: both;
    display: table;

}
a{
    text-decoration: none;
}

