*{
    margin:0;padding:0
}
.container{
    text-align: center;
    overflow: hidden;
    margin:0 auto;
    width: 600px;
    height: 700px;
    position: relative;
      background-image:url("../images/background.png");
    background-size: contain;
}   
#cat-canvas{
    display:inline-block;
  
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 30;
}
#world-canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 20;
}
