
.header-and-explore{
    background-image: url("../images/header-circle-with-white-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment:local;
        min-width:fit-content;

}

header.header{
    background-color: rgba(255, 255, 255, 0.94);
    box-shadow: 0 0 5px 5px rgba(182,182,182,0.24) ;
    min-width:fit-content;
}
.top-holder{
    padding-top:13px;
    padding-bottom: 13px;
}
.icon-wrapper{
    float: left;
}
.hotline-wrapper{
    float: right;
}
.icon-wrapper ul{
    list-style: none;
}
.icon-wrapper ul li{
    float: left;
    padding-right: 20px;
}
.icon-wrapper li a{
    text-decoration: none;
    display: block;
}
.hotline-wrapper{
    float:right;
}
.bottom-holder{
    background-image: url("../images/1px-border-top.png");
    background-position: top center;
    background-repeat: repeat-x;
    
}
.bottom-wrapper .logo{
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 40px;
}
.figure.logo a{
    display: block;
}
.bottom-wrapper nav.navbar{
    float: right;
   line-height: 68px;
}

nav.navbar ul{
    list-style: none;
   
}
nav.navbar ul li{
    float: left;
    padding-left: 14px;
    padding-right: 6px;
    font-size: 11px;
   
    margin-left: 30px;
    border-top-color: transparent;
    border-top-width: 2px;
    border-top-style: solid;
}
nav.navbar ul li+li:last-child{
    padding-right: 0px;
}


nav.navbar ul li a{
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 400;
    color: #45505e;    display: block;
   
}


nav.navbar ul li:hover{
    border-top-color: #4caf50;
    border-top-width: 2px;
    border-top-style: solid;
}

div.explore{
    text-align: center;
    padding-bottom: 180px;
    width: 883px;
    margin:0 auto;

}
div.our-customers{
    background-image: url("../images/1px-border-top.png");
    background-position: top;
    background-repeat: repeat-x;
    padding-top: 43px;
    padding-bottom: 31px;
}
div.text{
    float: left;

}

.our-customers .text h1{
    font-size : 24px;
    font-family: "Roboto";
    font-weight: 300;
    color: #303842;
    line-height: 24px;
}
.our-customers .text p{
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 300;
    color: #8191a6;
    line-height: 24px;
    padding-top: 19px;
    width:355px;

}
div.logo{
    float: right ;
}
.customer-logo img{
    padding-left: 66px;
}

div.our-services-fields{
    background-image: url("../images/1px-border-top.png"), url("../images/laptop.png");
    background-position: top,-630px bottom;
    background-repeat: repeat-x,no-repeat;
    padding-top: 105px;
    background-size: auto,auto;
    width: 100%;
    padding-bottom: 160px;

}
div.content-wrapper{
        width: 1140px;
    margin:0 auto;
}
div.content-position{
    width: 750px;
    float: right;
    padding-top: 60px;

}

div.our-services-fields .info-text  {
    width: 615px;
}
.services-fields{
    margin-top: 115px;

}
.service-container{
    float:left;
    width: 335px;
    margin-bottom: 70px;
}
.build-things{
    background-image: url("../images/lower-slanted-image-withman.png");
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    min-width: 1140px;
    background-attachment: scroll;

}

div.build-content-wrapper{
    width: 750px;
    margin: 0 auto;

}
div.build-position{
    padding-left: 50px;
    padding-top:270px ;
}
.build-position .info-text{
    margin-bottom:112px ;
}
.counter-wrapper{
    padding-bottom: 155px;
}

.count-division{
    width: 275px;
    float: left;
    margin-bottom:77px;
}
.contact-us{
    background-image: url("../images/lower-circle-imgs.png");
    background-repeat: no-repeat;
    background-position:-300px 50px;
    min-width: 1140px;
    margin-bottom: 145px;
}

.contact-us-wrapper{
    width:762px;
    margin:0 auto;
}
footer{
    background-image: url("../images/1px-border-bottom.png");
    background-position: top;
    background-repeat: repeat-x;
    background-color: #fafafa;
}
footer .footer-wrapper{
    width: 1140px;
    padding:70px 0px;
}

.footer-cols{
    width:380px;
    float: left;
}

.firefly-info .footer-logo{
    padding-bottom: 30px;
}
.firefly-info p{
    font-family:"Roboto" ;
    font-weight:300 ;
    font-size: 14px;
    color: #8191a6;
    line-height:24px;
    padding-bottom: 30px;
    padding-right: 20px;
}
.firefly-info span{
    font-family:"Roboto" ;
    font-weight:400 ;
    font-size: 12px;
    color: #303842;
}
.firefly-info a+a{
    margin-left: 36px;
}
.copyright{
    font-family:"Roboto" ;
    font-weight:400 ;
    font-size: 14px;
    color: #8191a6;
    padding-top:24px;

}
.categories-community ul{
    list-style: none;
}
.categories-community .categories,.community{
    width:50%;
    float: left;
}
.categories h2{
    padding-left: 60px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    color:#303842 ;
    line-height: 59px;
}
.categories li a{
    padding-left: 60px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    color:#919fb1 ;
    line-height: 34px;
}
.categories li a:hover{
   color: #303842;
}

.community h2{
    padding-left: 60px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    color:#303842 ;
    line-height: 59px;
}
.community li a{
    padding-left: 60px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    color:#919fb1 ;
    line-height: 34px;
}
.community li a:hover{
   color: #303842;
}
.follow-us .follow{
    font-family: "Roboto";
   font-weight: 400;
    font-size: 14px;
    color:#303842 ;
    line-height: 59px;
    margin-left: 60px;
}

.follow-us ul{
    list-style: none;
}
.follow-us li{
    float: left;
    margin-left: 60px;
}
.follow-us li+li{
    margin-left: 20px;
}