*{
    margin:0px;
    padding:0px;
}

.main-wrapper{
    width: 1140px;
    margin:0 auto;
    
}
.clear-fix{
    content: "";
    clear: both;
    display: table;

}
a{
    text-decoration: none;
}

