/* -------------------header------------------------ */



li.facebook a:hover img{
    content: url("../images/fb-hover.png");
}
li.twitter a:hover img{
    content: url("../images/twitter-hover.png");
}
li.pin-interest a:hover img{
    content: url("../images/pin-interest-hover.png");
}
li.insta a:hover img{
    content: url("../images/insta-hover.png");
}
li.skype a:hover img{
    content: url("../images/skype-hover.png");
}
li.dribble a:hover img{
    content: url("../images/dribble-hover.png  ");
}
.hotline{
    font-family: "Roboto";
    font-weight: 400;
    padding-right: 16px;
    font-size: 12px;
    color: #303842;
}
.hotline-number{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 12px;
    color: #6b7c93;
}



.menu{
    background-image: url("../images/1px-border-top.png");
    background-position: top center;
    background-repeat: repeat-x;
    
}
.menu figure.logo{
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 40px;
}
.figure.logo a{
    display: block;
}
.menu nav.navbar{
    float: right;
   line-height: 68px;
}

nav.navbar ul{
    list-style: none;
   
}
nav.navbar ul li{
    float: left;
    padding-left: 14px;
    padding-right: 6px;
    font-size: 11px;
   
    margin-left: 30px;
    border-top-color: transparent;
    border-top-width: 2px;
    border-top-style: solid;
}
nav.navbar ul li+li:last-child{
    padding-right: 0px;
}


nav.navbar ul li a{
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 400;
    color: #45505e;    display: block;
   
}


nav.navbar ul li:hover{
    border-top-color: #4caf50;
    border-top-width: 2px;
    border-top-style: solid;
}

/* -----------------explore-------------------- */

.explore  .title{
    font-size: 56px;
    color: #303842;
    line-height: 72px;
    padding-top: 296px;
    font-family:"Roboto" ;
    font-weight: 300;

}
p.explore-text{
    font-size: 18px;
    color: #6b7c93;
    line-height: 26px;
    padding-top: 31px;
    padding-bottom:45px;
    font-family:"Roboto" ;
    font-weight: 300;    
} 
.explore-btn{
    box-shadow: 0 0 12px 0 rgba(108,108,108,0.23);
    padding: 15px 30px;
    border-radius:50px ;
    font-size:14px;
    color: #4caf50;


}


/* --------------customer---------------------- */

div.text{
    float: left;

}

.customers .text h1{
    font-size : 24px;
    font-family: "Roboto";
    font-weight: 300;
    color: #303842;
    line-height: 24px;
}
.customers .text p{
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 300;
    color: #8191a6;
    line-height: 24px;
    padding-top: 19px;

}
figure.customer-logo{
    float: right ;
}
.customer-logo img{
    padding-left: 66px;
}
/* ---------------services----------------- */

div.services .info-text h1{
    font-size: 24px;
    color: #303842;
font-family: "Roboto";
font-weight: 300;
}
div.services .info-text p{
font-size: 14px;
line-height: 24px;
color: #8191a6;
font-family: "Roboto";
font-weight: 300;
}

.service-container .service-image{
    float: left;
    height: 85px;
    width: 62px;
    background-image: url("../images/1px-border-top.png");
    background-position: right;
    background-repeat: repeat-y;

}.service-container .service-image img{
    float: left;
}

div.service-container .service-info h1{
    font-size: 13px;
    font-family:"Open Sans";
    font-weight: 600;
    color: #252b33;
    padding-bottom: 20px;
}
div.service-container .service-info p{
    font-family: "Roboto";
    font-size:14px ;
    line-height:24px ;
    font-weight: 300;
    color: #8191a6;
}
.service-container:first-child{
    margin-right: 70px;
}
.service-container:last-child{
    margin-left: 70px;
}
div.service-container:hover .discovery img{
    content: url("../images/cicle-hover.png");
}
div.service-container:hover .manage img{
    content: url("../images/bulb-hover.png");
}
div.service-container:hover .statistics img{
    content: url("../images/attatch-hover.png");
}
div.service-container:hover .sharing img{
    content: url("../images/correct-hover.png");
}





/* ---------------------build-------------------------- */

div.build-position .info-text h1{
    font-size: 24px;
    color: #303842;
font-family: "Roboto";
font-weight: 300;
}
div.build-position .info-text p{
font-size: 14px;
line-height: 24px;
color: #8191a6;
font-family: "Roboto";
font-weight: 300;
}
div.counter-wrapper .count{
    font-size: 44px;
    display: block;
    font-family: "Roboto";
    font-weight: 100;
}
div.counter-wrapper .count.c-785{
    color: #32d5ba;
}
div.counter-wrapper .count.c-623{
    color: #6dc4f2;
}
div.counter-wrapper .count.c-519{
    color: #ffd13c;
}
div.counter-wrapper .count.c-246{
    color: #f44336;
}
div.counter-wrapper .count-title{
    font-size: 15px;
    line-height: 24px;
    font-family:"Open Sans" ;
    font-weight: 300;
    color:#303842 ;
}



/* ------------------contact---us--------------------- */

.contact-us-wrapper h1{
    text-align: center;
    font-family:"Roboto";
    font-weight: 300;
    font-size: 34px;
    line-height: 24px;
    margin-bottom: 30px;
    color: #303842;
}
.contact-us-wrapper p{
    text-align: center;
    font-family:"Roboto";
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #8191a6;
    margin-bottom: 100px;
}


.contact-us-form label{
    display:block;
    margin-bottom: 17px;
    color: #000;
    font-family:"Open Sans" ;
    font-size:13px ;
    font-weight: 600;

}
.contact-form input[type=email]{
    width:588px;

    padding:15px;
    border: 1px solid transparent;
    background-color: #f5f5f5;
    margin-bottom: 33px;
    outline: none;
    border-radius: 5px;
}
.contact-form input[type=text]{
    width:268px;
    padding:15px;
    border: 1px solid transparent;
    background-color: #f5f5f5;
    margin-bottom: 33px;
    outline: none;
    border-radius: 5px;
}

.contact-form .name{
    float: left;
}
.contact-form .lname{
    float: right;
}

.contact-form input[type=submit]{
    width:140px;
    padding:15px;
    border: 1px solid transparent;
    background-color: #f5f5f5;
    outline: none;
    border-radius: 5px;
   font-family: "Roboto";
   font-weight: 400;
   color:#4caf50;
   font-size: 14px;
   box-shadow: 0 0 12px 0 rgba(108,108,108,0.23);
   border-radius: 50px;
   background-color: #fff;
   margin-top:30px;

}
.contact-form textarea {
    width:588px;
    height: 148px;
    padding:15px;
    border: 1px solid transparent;
    background-color: #f5f5f5;
    margin-bottom: 33px;
    resize: none;
    outline: none;

}



/* ------------------footer---------------------------- */


.firefly-info .footer-logo{
    padding-bottom: 30px;
}
.firefly-info p{
    font-family:"Roboto" ;
    font-weight:300 ;
    font-size: 14px;
    color: #8191a6;
    line-height:24px;
    padding-bottom: 30px;
    padding-right: 20px;
}
.firefly-info span{
    font-family:"Roboto" ;
    font-weight:400 ;
    font-size: 12px;
    color: #303842;
}
.firefly-info a+a{
    margin-left: 36px;
}
.copyright{
    font-family:"Roboto" ;
    font-weight:400 ;
    font-size: 14px;
    color: #8191a6;
    padding-top:24px;

}
.categories-community ul{
    list-style: none;
}

.categories h2{
    padding-left: 60px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    color:#303842 ;
    line-height: 59px;
}
.categories li a{
    padding-left: 60px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    color:#919fb1 ;
    line-height: 34px;
}
.categories li a:hover{
   color: #303842;
}

.community h2{
    padding-left: 60px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    color:#303842 ;
    line-height: 59px;
}
.community li a{
    padding-left: 60px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    color:#919fb1 ;
    line-height: 34px;
}
.community li a:hover{
   color: #303842;
}
.follow-us .follow{
    font-family: "Roboto";
   font-weight: 400;
    font-size: 14px;
    color:#303842 ;
    line-height: 59px;
    margin-left: 60px;
}

.follow-us ul{
    list-style: none;
}
.follow-us li{
    float: left;
    margin-left: 60px;
}
.follow-us li+li{
    margin-left: 20px;
}